# Ignore Python cache files
**/__pycache__/

# Ignore build files
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/

# Ignore development dependencies
Dockerfile.dev
docker-compose.dev.yml

# Ignore test files
Dockerfile.test
docker-compose.test.yml
test/

# Ignore local files
*.local
